@using PropertyForSale.Models
@model AdvertModel

<div class="well">
    <table>
        <tr>
            <td>
                @if (Model.Photos.Count > 0)
                {
                    <img src="~/Images/Ad/@Model.Photos[0].Path" width="500" alt="advert image">
                }
                else
                {
                    <img src="~/Images/Ad/defaultAdImage.jpg" width="500" alt="advert image">
                }
            </td>
            <td>
                <table>
                    <tr><td valign="middle"><h3>@Html.ActionLink(Model.Name, "Ad", new { AdId = Model.ID })</h3></td></tr>
                    <tr><td valign="bottom"> Type: @Model.AdType.Name</td></tr>
                </table>
            </td>
            <td valign="middle">
                <h1>
                    <span class="label label-primary">@Model.Price.ToString("# $")</span>
                </h1>    
            </td>
        </tr>
    </table>
</div>