@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated && User.Identity.GetUserId() == Model.User.ID)
{
    <h3>
        <button type="button" class="btn btn-primary" style="float: right;">
            <span class="glyphicon glyphicon-pencil"></span>
            @Html.ActionLink("Edit", "Edit", new { AdId = Model.ID }, new { @style = "color: #ffffff;" })
        </button>
    </h3>
}
