@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated && User.Identity.GetUserId() == Model.User.ID)
{
    <button type="button" class="btn btn-primary btn-edit" data-id="@Model.ID">
        <span class="glyphicon glyphicon-pencil"></span>
        Edit
    </button>
}