@using PropertyForSale.Enums
@using PropertyForSale.Models
@model AddAdViewModel

@{
    ViewBag.Title = "New advertisement";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="panel-group">
    @using (Html.BeginForm("AddAd", "Advert", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_ManageAdPartial", Model)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Add" class="btn btn-block btn-default" />
            </div>
        </div>
    }
</div>

