@using PropertyForSale.Models
@model ListViewModel

@{
    ViewBag.Title = "List of advertisements";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

@foreach (var a in @Model.Adverts)
{
    @Html.Partial("_AdvertListPartial", a)
}
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>


