@using PropertyForSale.Models
@model ListViewModel

@{
    ViewBag.Title = "List of advertisements";
}

<h2>@ViewBag.Title</h2>

@foreach (var a in @Model.Adverts)
{
    @Html.Partial("_AdvertListPartial", a)
}
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>


