@using PropertyForSale.Models
@model ListViewModel

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

@foreach (var a in @Model.Adverts)
{
    @Html.Partial("_AdvertListPartial", a)
}
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action(ViewBag.CurrentAction, new { page = x }))
</div>


